.model{
    position: fixed;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.6);
    top:0;
    left:0;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    display: none;
}

.model.active{
    display:flex;
}

.model .content{
    background-color: white;
    width:30%;
    padding:40px;
    display: block;
    position: relative;
}

.model .content h2{
    font-size:20px;
    font-weight:500;
}

.model .content p{
    font-size:14px;
    font-weight: 400;
    margin-top:-7px;
}

.model .content .control{
    display: inline-flex;
    align-items: center;
}

.model .content .control button{
    background-color: #F5F5F5;
    font-size:12px;
    padding:10px 20px;
    cursor: pointer;
    border: none;
    min-width:100px;
    font-weight:bold;
}

.model .content .control button:first-of-type{
    background-color: #FEEDCD;
    margin-right:10px;
}

.model .content .control button:last-of-type{
    color:black;
}

.model .content .close{
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}

@media(max-width:991px){
    .model .content{
        width: 80%;
    }

    .model .content h2{
        font-size: 18px;
    }
    
    .model .content p{
        font-size: 13px;
    }
}